<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searching Schedule</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
    <div class="container"> 
        <label for="yearSelects">Khóa học</label>
        <select id="yearSelect" class="selectOption">
            <option value="year1">Năm nhất</option>
            <option value="year2">Năm hai</option>
            <option value="year3">Năm ba</option>
            <option value="year4">Năm bốn</option>
        </select>
        <br><br>

        <label for="yearSelects">Môn học</label>
        <select id="yearSelect" class="selectOption">
            <!-- <option value="year1">Năm nhất</option>
            <option value="year2">Năm hai</option>
            <option value="year3">Năm ba</option>
            <option value="year4">Năm bốn</option> -->
        </select>
        <br><br>

        <label for="yearSelects">Giáo viên</label>
        <select id="yearSelect" class="selectOption">
            <!-- <option value="year1">Năm nhất</option>
            <option value="year2">Năm hai</option>
            <option value="year3">Năm ba</option>
            <option value="year4">Năm bốn</option> -->
        </select>
        <br><br>
        <p>Số bản ghi tìm thấy:</p>

        <button class="button-container"> Tìm kiếm </button>
    </div>
</body>
</html>